
body{
    font-family: sans-serif;
    background-color: #e7d2d2;
}

.container{
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

label{
    display: block;
    margin-top: 15px;
    color: #555;
}

input[type="text"], input[type="number"], textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

textarea{
    resize: vertical;
    height: 100px;
}

input[type="submit"], button{
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff6600fd;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 20px auto 0;
    width: fit-content;
}

/* Estilos para la tabla de productos vigentes */
.container-large{
    max-width: 1050px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h1{
    text-align: center;
    color: #333;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table .thead-dark th{
    background-color: #343a40;
    color: #ffffff;
}

.table tbody tr:nth-of-type(even){
    background-color: #f2f2f2;
}

.table td img{
    max-width: 100px;
    height: auto;
    border-radius: 5px;
}

.alert{
    padding: 15px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
    background-color: #fff3cd;
    color: #856404;
    border-color: #ffeeba;
}
